
  
  html{
    height: 100%;
    width: 100%;
     background-color: black;
     margin:0;
     padding: 0;
  
  }

  body{
    font-family: sans-serif;
    height: 100%;
    width:100%;
    margin:0;
     padding: 0;
     background-color: black;
  }

  a:hover{
    color: white;
  }

  h1{
    margin: 20px;
    padding: 20px;
  }

  h2{
    text-align: center;
    padding: 2vh;
    margin:0; 
  }

  h3{
    color: white;
  }
  
  nav{
    width: 100%;
    margin:0;
    padding: 0;
    
  }


  .navbar-brand{
    padding: 0px;
    margin-bottom: 0px;
     border-radius: 8px;
     font-weight: bold;
  }

  @media screen and (min-width: 768px) {
   .navbar-brand{
           padding: 0px 25px 0px 25px;
           margin-bottom: 10px;
           margin-left: 15px;
            border:5px solid white;
            border-radius: 8px;
            font-weight: bold;
         }
        }

  .navbar-brand:hover{
        border-color: #19C2F2;
        }

   #nList{
      padding-left: 20px;
      font-weight: bold;      
    }

.winfo{
  font-size: 150%;
}

#map {  
        height: 100%;
        width: 100%;
         border:solid black 7px;
     }

  #mapWrap{
    background-color: black;
     padding-left: 0px;
         padding-right: 0px;        
         width: 100%;
         height: 550px;
         text-align: left;
         align-content: left;
         float: left;
         margin-top: 40px;
  }

   #mapSide{
  background-color: black;
  height: 700px;
  width: 100%;
  margin-top: 0;
  padding: 0;

}  

  .container-fluid{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
     }



#head2Wr{
  font-family: 'Montserrat', sans-serif;
  /* background-color: #428BC0; */
  color: white;
  /* height: 120%; */
  /* padding:10vh 3vh  3vh 3vh; */
  width: 88vw;
  margin:10vh 4vh  10vh 4vh;
  /* border:13px solid #428BC0; */
  border: 1vh solid white;
  border-radius: 3vh;
  font-size: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

}
 

  #mapInst{
    font-family: 'Montserrat', sans-serif;
    background-color: #428BC0;
     color: white;
     border:9px solid #428BC0;
     border-radius: 0%;
     padding: 3px 0px 0px 0px;
     margin:0px 10px 0px 10px;
     font-size: 150%;
    }


  #segrip{
      background-image: url('move_resize_purple_trans.jpeg') ;
      background-image: cover;
      height: 30px;
      width: 30px;
      margin:1vw;
      background-size: 100% 100%;
      cursor:move;
      }
  
      @media (pointer:fine){
        .navbar-brand:hover{
        border-color: #19C2F2;
        color: #19C2F2 !important;
    }
  }


#twitFeed{
  padding-top: 5vw;

}

.tf_out{
  width:88vw;
}

@media screen and (max-width: 550px) {
.tf_out{
  width:550px;
}
}


.formDiv{
  background-color: black;
  color: white !important;
}


#innerForm{
  margin-bottom: 35px;
  background-color: black;
  
}

#address{
  width:66vw;
}

    
  .tweetLocation{
    color:white;
  }
  
  #successDiv{
    text-align: center;
  }

  #resTitle{
  padding: 5vw;
  }


  #footer{
    background-color: darkcyan;
    height: 2vh;
    margin-top: 2vh;

}